.c-button {
  @extend .u-transition;
  border-radius: 0.4em;
  border-width: 0;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  vertical-align: top;
  padding: 0 1.5em;
  background: transparent;
}

.c-button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

// Colors ------------------------------
