// Custom Colors

// Grays
$black:         #000000;
$mineshaft:     #333333;
$silver:        #bcbcbc;
$alto:          #d8d8d8;
$mercury:       #e6e6e6;
$wildsand:      #f6f6f6;
$concrete:      #f2f2f2;
$white:         #ffffff;

// Brands
$facebook:      #4065b4;
$google:        #df4a32;

// Shortcuts
$primary: $black;
$secondary: $white;
